<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
	 xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle Name="Miladycraft" 
		  Manufacturer="TODO Manufacturer" 
		  Version="1.5.0.0" 
		  UpgradeCode="2976ddbb-7fb9-4157-9935-101ddb601097">

	<BootstrapperApplication>
	  <bal:WixStandardBootstrapperApplication 
		  LicenseFile=".\LICENSE.rtf" 
		  Theme="rtfLicense" />
	</BootstrapperApplication>

	<Chain>
		<MsiPackage SourceFile="..\JDKInstaller\bin\x64\Debug\en-US\JDKInstaller.msi" />
		<!--<MsiPackage SourceFile="Installer\PollyMCInstaller.msi" /> <MsiPackage SourceFile="Installer\MiladycraftInstaller.msi" />-->
	</Chain>
  </Bundle>
</Wix>
