.vs
CheckJDK/.vs
CheckJDK/bin
CheckJDK/obj
miladycraft-bootstrapper/.vs
miladycraft-bootstrapper/bin
miladycraft-bootstrapper/obj
miladycraft-installer/.vs
miladycraft-installer/bin
miladycraft-installer/obj
/bin
/miladycraft-installer/Include/PollyMC-8.0/iconengines
/miladycraft-installer/Include/PollyMC-8.0/imageformats
/miladycraft-installer/Include/PollyMC-8.0/jars
/miladycraft-installer/Include/PollyMC-8.0/manifest.txt
/miladycraft-installer/Include/PollyMC-8.0/platforms
/miladycraft-installer/Include/PollyMC-8.0/pollymc.exe
/miladycraft-installer/Include/PollyMC-8.0/pollymc_filelink.exe
/miladycraft-installer/Include/PollyMC-8.0/pollymc_updater.exe
/miladycraft-installer/Include/PollyMC-8.0/qt.conf
/miladycraft-installer/Include/PollyMC-8.0/Qt6Core.dll
/miladycraft-installer/Include/PollyMC-8.0/Qt6Core5Compat.dll
/miladycraft-installer/Include/PollyMC-8.0/Qt6Gui.dll
/miladycraft-installer/Include/PollyMC-8.0/Qt6Network.dll
/miladycraft-installer/Include/PollyMC-8.0/Qt6Svg.dll
/miladycraft-installer/Include/PollyMC-8.0/Qt6Widgets.dll
/miladycraft-installer/Include/PollyMC-8.0/Qt6Xml.dll
/miladycraft-installer/Include/PollyMC-8.0/qtlogging.ini
/miladycraft-installer/Include/PollyMC-8.0/styles
/miladycraft-installer/Include/PollyMC-8.0/tls
