<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	<ComponentGroup Id="JDKInstallationComponents" Directory="INSTALLFOLDER">
		<Component>
			<File Source="JDKInstallationComponent.wxs" />
		</Component>
		<Component>
			<File Id="CheckJDKVersionScript" Source="CheckJDKVersion.ps1" KeyPath="yes"/>
		</Component>
	</ComponentGroup>
  </Fragment>
</Wix>
