<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
		<Directory Id="MANUFACTURERFOLDER" Name="!(bind.Property.Manufacturer)">
			  <Directory Id="APPLICATIONFOLDER" Name="!(bind.Property.ProductName)" />
		</Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
