<?xml version="1.0" encoding="UTF-8"?>

<?include ..\Variables.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  
	<Package Name="$(var.ProductName)"
	 Manufacturer="$(var.Manufacturer)" 
	 Version="$(var.ProductVersion)"
	 InstallerVersion="$(var.InstallerVersion)"
	 UpgradeCode="844a2bcb-0e1b-4983-abfb-dda5d6a9f4cc">

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<ui:WixUI Id="WixUI_MiladycraftInstaller" InstallDirectory="INSTALLFOLDER" />

		<CustomAction Id="LaunchPollyMC"
					  Directory="ApplicationFolder"
					  ExeCommand="[ApplicationFolder]pollymc.exe -I &quot;.\MiladyCraft 1.5.zip&quot;"
					  Execute="commit"
					  Return="asyncNoWait" />

		<InstallExecuteSequence>
		  <Custom Action="LaunchPollyMC" Before="InstallFinalize" Condition="NOT Installed"></Custom>
		</InstallExecuteSequence>

		<Property Id="INSTALLLOCATION">
			<RegistrySearch Id="InstallLocationProperty"
							Root="HKCU"
							Key="Software\MiladyCraft"
							Name="path"
							Type="directory" />
		</Property>

		<Feature Id="Miladycraft" Title="Miladycraft_Installer.msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Package>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="ApplicationFolder">
			<Files Include="$(sys.CURRENTDIR)Include\PollyMC-8.0\**">
				<Exclude Files="$(sys.CURRENTDIR)Include\PollyMC-8.0\*.exe" />
			</Files>
			<Component Guid="844a2bcb-0e1b-4983-abfb-dda5d6a9f4cb">
				<RegistryValue Root="HKCU"
							   Key="Software\MiladyCraft"
							   Name="path"
							   Type="string"
							   Value="[ApplicationFolder]"
							   KeyPath="yes" />
				<File Id="PollyMC" Source="$(ProjectDir)Include\PollyMC-8.0\pollymc.exe" Checksum="yes" />
				<File Id="PollyMCFileLink" Source="$(ProjectDir)Include\PollyMC-8.0\pollymc_filelink.exe" Checksum="yes" />
				<File Id="PollyMCUpdater" Source="$(ProjectDir)Include\PollyMC-8.0\pollymc_updater.exe" Checksum="yes" />
				<File Id="MiladyModpack" Source="$(ProjectDir)Include\Miladycraft 1.5.zip" />
				<util:RemoveFolderEx Id="RemoveMiladyCraft" On="uninstall" Property="INSTALLLOCATION" />
				<RemoveFile Directory="ProgramMenuFolder" On="uninstall" Name="Miladycraft" />
				<Shortcut Id="MiladyCraftShortcut"
						  Name="Miladycraft"
						  Directory="ProgramMenuFolder"
						  Description="Launch Miladycraft 1.5"
						  Target="[#PollyMC]">
					<Icon Id="MiladyCraft.exe" SourceFile="..\assets\icon.ico" />
				</Shortcut>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>