<?xml version="1.0" encoding="UTF-8"?>

<?include ..\Variables.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  
	<Package Name="$(var.ProductName)"
	 Manufacturer="$(var.Manufacturer)" 
	 Version="$(var.ProductVersion)"
	 InstallerVersion="$(var.InstallerVersion)"
	 UpgradeCode="844a2bcb-0e1b-4983-abfb-dda5d6a9f4cc">

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<ui:WixUI Id="WixUI_MiladycraftInstaller" InstallDirectory="INSTALLFOLDER" />

		<CustomAction Id="LaunchPollyMC"
					  Directory="ApplicationFolder"
					  ExeCommand="[ApplicationFolder]pollymc.exe -I MiladyCraft_localhost.zip"
					  Execute="commit"
					  Return="asyncNoWait" />

		<InstallExecuteSequence>
		  <Custom Action="LaunchPollyMC" Before="InstallFinalize" Condition="NOT Installed"></Custom>
		</InstallExecuteSequence>

		<Property Id="INSTALLLOCATION">
			<RegistrySearch Id="InstallLocationProperty"
							Root="HKCU"
							Key="Software\MiladyCraft"
							Name="path"
							Type="directory" />
		</Property>

		<Feature Id="Miladycraft" Title="Miladycraft_Installer.msi" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="MiladyCraftShortcutComponent"/>
		</Feature>
	</Package>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="ApplicationFolder">
			<Files Include="$(SolutionDir)Include\PollyMC-8.0\**">
				<Exclude Files="$(SolutionDir)Include\PollyMC-8.0\*.exe" />
			</Files>
			<Component Guid="844a2bcb-0e1b-4983-abfb-dda5d6a9f4cb">
				<RegistryValue Root="HKCU"
							   Key="Software\MiladyCraft"
							   Name="path"
							   Type="string"
							   Value="[ApplicationFolder]"
							   KeyPath="yes" />
				<File Id="PollyMC" Source="$(SolutionDir)Include\PollyMC-8.0\pollymc.exe" Checksum="yes" />
				<File Id="PollyMCFileLink" Source="$(SolutionDir)Include\PollyMC-8.0\pollymc_filelink.exe" Checksum="yes" />
				<File Id="PollyMCUpdater" Source="$(SolutionDir)Include\PollyMC-8.0\pollymc_updater.exe" Checksum="yes" />
				<File Id="MiladyModpack" Source="$(SolutionDir)Include\MiladyCraft_localhost.zip" />
				<util:RemoveFolderEx Id="RemoveMiladyCraft" On="uninstall" Property="INSTALLLOCATION" />
			</Component>
		</ComponentGroup>

		<Component Id="MiladyCraftShortcutComponent" Guid="844a2bcb-0e1b-4983-abfb-dda5d6a9f4cc" Directory="ProgramMenuFolder">
			<RegistryValue Root="HKCU"
						   Key="Software\Remilia Corporation\MiladyCraft"
						   Name="shortcut"
						   Type="integer"
						   Value="1" />
			<Shortcut Id="MiladyCraftShortcut"
					  Name="Miladycraft"
					  Description="Launch Miladycraft 1.5"
					  Target="[#PollyMC]"
					  Arguments="--launch MiladyCraft_localhost">
				<Icon Id="MiladyCraft.exe" SourceFile="..\assets\icon.ico" />
			</Shortcut>
			<RemoveFile Id="RemoveMiladyCraftShortcut" Name="Miladycraft.lnk" On="uninstall" />
		</Component>
	</Fragment>
</Wix>